<div *ngIf="!createOrEdit" class="title">Apartments List</div>
<input *ngIf="!createOrEdit" type="button" (click)="addNewApartment()" value="Add New Apartment" class="btn btn-danger button new-button">
<table *ngIf="!createOrEdit">
  <tr>
    <th>Apartment Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Room Number</th>
    <th>Owner</th>
  </tr>
  <tr *ngFor="let apartment of apartments">
    <td>
      {{apartment.apartmentName}}
    </td>
    <td>
      {{apartment.address}}
    </td>
    <td>
      {{apartment.city}}
    </td>
    <td>
      {{apartment.roomNumber}}
    </td>
    <td>
      {{apartment.owner}}
    </td>
    <td>
      <img src="../../../assets/pencil.svg" (click)="editApartment(apartment)" class="icon">
      <img src="../../../assets/trash.svg" (click)="deleteApartment(apartment._id)" class="icon">
    </td>
  </tr>
</table>

<add-apartment *ngIf="createOrEdit" [createOrEdit]="createOrEdit" [apartmentToEdit]="apartmentToEdit" (createOrEditChange)="finishedAddingOrCreate()"></add-apartment>
