<div *ngIf="!createOrEdit">
<div class="title">Apartments List</div>

<input type="button" (click)="addNewApartment()" value="Add New Apartment" class="btn btn-danger button new-button">
  <br><br>
  <label>City:</label>
  <input id="cityTxt" type="text">
  <label>Address:</label>
  <input id="addressTxt" type="text">
  <label>Room Number:</label>
  <input id="roomTxt" type="number">
  <input  type="button" (click)="searchApartment()" value="Search" class="btn-danger button new-button">

<table>
  <tr>
    <th>Apartment Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Room Number</th>
    <th  *ngIf="isAdminUser">Owner</th>
    <th *ngIf="isAdminUser">Owner Phone Number</th>
  </tr>
  <tr *ngFor="let apartment of apartments">
    <td>
      {{apartment.apartmentName}}
    </td>
    <td>
      {{apartment.address}}
    </td>
    <td>
      {{apartment.city}}
    </td>
    <td>
      {{apartment.roomNumber}}
    </td>
    <td *ngIf="isAdminUser">
      {{apartment.owner.firstName + " " + apartment.owner.lastName }}
    </td>
    <td  *ngIf="isAdminUser">
      {{apartment.owner.phoneNumber}}
    </td>
    <td>
      <img src="../../../assets/pencil.svg" (click)="editApartment(apartment)" class="icon">
      <img src="../../../assets/trash.svg" (click)="deleteApartment(apartment._id)" class="icon">
    </td>
  </tr>
</table>
  <div>
    <img src="../../../assets/home.svg" (click)="returnToMainPage()" class="home-icon">
  </div>
</div>
<add-apartment *ngIf="createOrEdit" [createOrEdit]="createOrEdit" [apartmentToEdit]="apartmentToEdit" (createOrEditChange)="finishedAddingOrCreate()"></add-apartment>
