@import "../../app.component.css";


.view-sublet-title {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 20px;
  font-weight: bold;
}

.sublet-name {
  margin-top: 20px;
  margin-bottom: 20px;
  color: turquoise;
  font-size: 39px;
  font-weight: bold;
}

.sublet-details {
  margin-left: 5px;
  display: inline-block;
}

.page-explanation {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-maps {
  display: inline-block;
  width: 50%;
  margin-right: 25px;
  position: absolute;
  right: 0;
  bottom: 20%;
}

#map {
  height: 450px;
  width: 100%;
}
