<div *ngIf="!createOrEdit" class="title">Sublets List</div>
<input *ngIf="!createOrEdit" type="button" (click)="addNewSublet()" value="Add New Sublet" class="btn btn-danger button new-button">
<table *ngIf="!createOrEdit">
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Price</th>
    <th>Apartment</th>
  </tr>
  <tr *ngFor="let sublet of sublets">
    <td>
      {{sublet.subletName}}
    </td>
    <td>
      {{sublet.startDate}}
    </td>
    <td>
      {{sublet.endDate}}
    </td>
    <td>
      {{sublet.price}}
    </td>
    <td>
      {{sublet.apartment}}
    </td>
    <td>
      <img src="../../assets/pencil.svg" (click)="editSublet(sublet)" class="icon">
      <img src="../../assets/trash.svg" (click)="deleteSublet(sublet._id)" class="icon">
    </td>
  </tr>
</table>

<add-sublet *ngIf="createOrEdit" [createOrEdit]="createOrEdit" [subletToEdit]="subletToEdit" (createOrEditChange)="finishedAddingOrCreate()"></add-sublet>
