.main-page {
  text-align: center;
}

.main-buttons {
  margin: 2%;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  /* color: turquoise; */
  background-color: turquoise;
  color: white;
  border-color: transparent;
  cursor: pointer;
}

.left {
  display: inline-block;
  position: absolute;
  left: 0;
}

.hi-user {
  float: left;
  margin: 5px;
  display: inline-block;
}

.position-absolute {
  position: absolute;
}

.top-buttons {
  float:left;
  margin-right: 5px;
  background-color: darkgray;
  color: white;
  height: 35px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  border-color: transparent;

}

