
<div *ngIf="!createOrEdit">
<div class="title">Sublets List</div>

<input type="button" (click)="addNewSublet()" value="Add New Sublet" class="btn btn-danger button new-button">
  <br>
  <label>Start Date:</label>
  <input class="labels" id="startDateTxt" type="date">
  <label class="labels">End Date:</label>
  <input id="endDateTxt" type="date">
  <label class="labels">Price:</label>
  <input id="priceTxt" type="number">
  <input  type="button" (click)="searchSublet()" value="Search" class="btn-danger button new-button">
<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Price</th>
    <th>Apartment Name</th>
    <th>Number Of Rooms</th>
  </tr>
  <tr *ngFor="let sublet of sublets">
    <td>
      {{sublet.subletName}}
    </td>
    <td>
      {{sublet.startDate}}
    </td>
    <td>
      {{sublet.endDate}}
    </td>
    <td>
      {{sublet.price}}
    </td>
    <td>
      {{sublet.apartmentObject.apartmentName}}
    </td>
    <td>
      {{sublet.apartmentObject.roomNumber}}
    </td>
    <td>
      <img *ngIf="isAbleToEdit(sublet.apartmentObject._id)" src="../../../assets/pencil.svg" (click)="editSublet(sublet)" class="icon">
      <img src="../../../assets/trash.svg" (click)="deleteSublet(sublet._id)" class="icon">
    </td>
  </tr>
</table>
</div>
<div>
  <img src="../../../assets/home.svg" (click)="returnToMainPage()" class="home-icon">
</div>

<add-sublet *ngIf="createOrEdit" [createOrEdit]="createOrEdit" (showAddSubletChange)="showSubletsListChange.emit(false)" [subletToEdit]="subletToEdit" (createOrEditChange)="finishedAddingOrCreate()"></add-sublet>
