<div class="title" *ngIf="isAddApartment">Add New Apartment</div>
<div class="title" *ngIf="!isAddApartment">Edit Apartment</div>
<form class="well" (submit)="addOrUpdateApartment($event)">
  <div class="form-group">
    <label for="apartmentName" class="input-title">APARTMENT NAME</label>
    <input id="nameInp" type="text" [(ngModel)]="apartmentName" name="apartmentName" class="form-control" placeholder="Enter Apartment Name">
  </div>
  <div class="form-group">
    <label for="address" class="input-title">ADDRESS</label>
    <input id="addressInp" type="address" [ngModel]="address" name="address" class="form-control" placeholder="Enter Address">
  </div>
  <div class="form-group">
    <label for="city" class="input-title">CITY</label>
    <input id="cityInp"  type="city" [ngModel]="city" name="city" class="form-control" placeholder="Enter City Name">
  </div>
  <div class="form-group">
    <label for="roomNumber" class="input-title">ROOM NUMBER</label>
    <input id="roomInp"  type="number" min="1" [(ngModel)]="roomNumber" name="roomNumber" class="form-control" placeholder="Enter Number Of Rooms">
  </div>
  <button type="submit" (submit)="addOrUpdateApartment($event)" class="btn btn-success button" [disabled]="!valid()">Submit</button>
  <br>
  <div *ngIf="validateResult()">Apartment with this name is already exists</div>
  <br>
  <div>
    <img src="../../../assets/home.svg" (click)="returnToMainPage()" class="home-icon">
  </div>

</form>

<img *ngIf="createOrEditChange.observers.length !== 0" src="../../../assets/back.svg" (click)="back()" class="back-icon">

