<div class="title">Add New Apartment</div>
<form class="well" (submit)="addOrUpdateApartment($event)">
  <div class="form-group">
    <label for="apartmentName" class="input-title">APARTMENT NAME</label>
    <input type="text" [(ngModel)]="apartmentName" name="apartmentName" class="form-control" placeholder="Enter Apartment Name">
  </div>
  <div class="form-group">
    <label for="address" class="input-title">ADDRESS</label>
    <input type="address" [ngModel]="address" name="address" class="form-control" placeholder="Enter Address">
  </div>
  <div class="form-group">
    <label for="city" class="input-title">CITY</label>
    <input type="city" [ngModel]="city" name="city" class="form-control" placeholder="Enter City Name">
  </div>
  <div class="form-group">
    <label for="roomNumber" class="input-title">ROOM NUMBER</label>
    <input type="number" [(ngModel)]="roomNumber" name="roomNumber" class="form-control" placeholder="Enter Number Of Rooms">
  </div>
  <!--
  <div class="form-group">
    <label for="owner" class="input-title">OWNER</label>
    <input type="text" [(ngModel)]="owner" name="owner" class="form-control" placeholder="Apartment Owner">
  </div>
  -->
  <button type="submit" class="btn btn-success button" [disabled]="!valid()">Submit</button>

  <div>
    <img src="../../../assets/home.svg" (click)="returnToMainPage()" class="home-icon">
  </div>

</form>

